@define-mixin progress-indeterminate {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: var(--progressBorderColor);
  background-image:
    radial-gradient(var(--progressFilledColor) 20%, transparent 30%),
    radial-gradient(var(--progressFilledColor) 30%, transparent 30%);
  background-size: var(--progressHeight) var(--progressHeight);
  animation: progress-stripes 0.4s linear infinite;
}
