@define-mixin upload-config {
  /* Foreground */
  --uploadLabelWeight: var(--ne-upload-label-weight, 700);
  --uploadLabelFontSize: var(--ne-upload-label-font-size, 1.2rem);

  /* Misc API */
  --uploadOutlineColor: var(--ne-upload-outline-color, hsl(233, 64%, 85%));
  --uploadOutlineWidth: var(--ne-upload-outline-width, 0.2rem);
}
