:root {
  --accent-color: hsl(220, 100%, 50%);

  --ne-textfield-border: 1px solid hsl(0, 0%, 89%);
  --ne-textfield-hover-border: var(--ne-textfield-border, 1px solid hsl(0, 0%, 89%));
  --ne-textfield-focus-border: var(--ne-textfield-border, 1px solid hsl(0, 0%, 89%));
  --ne-textfield-disabled-border: 1px solid hsl(233, 34%, 96%);
  --ne-textfield-readonly-border: 1px dashed hsl(0, 0%, 89%);
  --ne-textfield-readonly-focus-border: 1px dashed var(--accent-color);
  --ne-textfield-invaild-border-color: hsl(354, 100%, 65%);
  --ne-textfield-background: hsl(0, 0%, 100%);
  --ne-textfield-hover-background: var(--ne-textfield-background, hsl(0, 0%, 100%));
  --ne-textfield-focus-background: var(--ne-textfield-background, hsl(0, 0%, 100%));
  --ne-textfield-disabled-background: hsl(233, 34%, 96%);
  --ne-textfield-invalid-background: hsl(0, 0%, 100%);
  --ne-textfield-foreground: var(--ne-global-foreground, hsl(0, 0%, 13%));
  --ne-textfield-hover-foreground: var(--ne-global-foreground, hsl(0, 0%, 13%));
  --ne-textfield-focus-foreground: var(--ne-global-foreground, hsl(0, 0%, 13%));
  --ne-textfield-disabled-foreground: hsl(233, 24%, 72%);
  --ne-textfield-readonly-foreground: var(--ne-global-foreground, hsl(0, 0%, 13%));
  --ne-textfield-valid-foreground: var(--ne-global-foreground, hsl(0, 0%, 13%));
  --ne-textfield-placeholder-foreground: hsl(0, 0%, 60%);
  --ne-textfield-hover-placeholder-foreground: hsl(0, 0%, 60%);
  --ne-textfield-focus-placeholder-foreground: hsl(0, 0%, 60%);
  --ne-textfield-disabled-placeholder-foreground: hsl(233, 34%, 80%);
  --ne-textfield-border-radius: 5px;
  --ne-textfield-width: 100%;
  --ne-textfield-min-height: 48px;
  --ne-textfield-y-padding: 0.5em;
  --ne-textfield-x-padding: 1em;
  --ne-textfield-selection-background: hsl(233, 64%, 90%);
  --ne-textfield-selection-foreground: hsl(0, 0%, 13%);
  --ne-textfield-resize: vertical;
  --ne-textfield-font-weight: 700;
}