:root {
--accent-color: hsl(235, 100%, 60%);

--ne-global-background: var(--ne-global-background, #FFF);
--ne-global-foreground: var(--ne-global-foreground, #000);
--ne-root-font-size: var(--ne-root-font-size, 100%);
--ne-body-font-size: var(--ne-body-font-size, 1.125rem);
--ne-selection-foreground: var(--ne-selection-foreground, #FFF);
--ne-selection-background: var(--ne-selection-background, hsl(233, 64%, 72%));
--ne-outline-style: var(--ne-outline-style, 2px solid);
--ne-outline-color: var(--ne-outline-color, var(--acent-color));
--ne-scroll-padding: var(--ne-scroll-padding, 100px);
--ne-scroll-behavior: var(--ne-scroll-behavior, smooth);
--ne-line-height: var(--ne-line-height, 1.5);
--ne-headings-scale: var(--ne-headings-scale, 1.25);
--ne-quote-font-size: var(--ne-quote-font-size, 2rem);
--ne-cite-foreground: var(--ne-cite-foreground, var(--acent-color));
--ne-cite-font-size: var(--ne-cite-font-size, 1rem);
--ne-cite-start-sign: var(--ne-cite-start-sign, "—");
--ne-links-color: var(--ne-links-color, var(--acent-color));
--ne-links-active-color: var(--ne-links-active-color, hsl(233, 64%, 52%));
--ne-del-foreground: var(--ne-del-foreground, hsl(337, 74%, 31%));
--ne-del-background: var(--ne-del-background, hsl(0, 100%, 94%));
--ne-ins-foreground: var(--ne-ins-foreground, hsl(161, 98%, 18%));
--ne-ins-background: var(--ne-ins-background, hsl(138, 100%, 88%));
--ne-kbd-color: var(--ne-kbd-color, hsl(233, 34%, 96%));
--ne-kbd-border-radius: var(--ne-kbd-border-radius, 4px);
--ne-mark-foreground: var(--ne-mark-foreground, hsl(20, 100%, 26%));
--ne-mark-background: var(--ne-mark-background, hsl(57, 100%, 60%));
--ne-inline-code-border-radius: var(--ne-inline-code-border-radius, 2px);
--ne-inline-code-background: var(--ne-inline-code-background, hsl(220, 10%, 95%));
--ne-button-border: var(--ne-button-border, 0);
--ne-button-hover-border: var(--ne-button-hover-border, 0);
--ne-button-active-border: var(--ne-button-active-border, 0);
--ne-button-disabled-border: var(--ne-button-disabled-border, 0);
--ne-button-background: var(--ne-button-background, var(--acent-color));
--ne-button-hover-background: var(--ne-button-hover-background, hsl(233, 64%, 52%));
--ne-button-active-background: var(--ne-button-active-background, hsl(233, 64%, 32%));
--ne-button-disabled-background: var(--ne-button-disabled-background, hsl(233, 34%, 96%));
--ne-button-foreground: var(--ne-button-foreground, #FFF);
--ne-button-hover-foreground: var(--ne-button-hover-foreground, #FFF);
--ne-button-active-foreground: var(--ne-button-active-foreground, #FFF);
--ne-button-disabled-foreground: var(--ne-button-disabled-foreground, hsl(233, 24%, 72%));
--ne-button-icon-margin: var(--ne-button-icon-margin, calc(2rem / 2.2));
--ne-button-disabled-icon-separator: var(--ne-button-disabled-icon-separator, rgba(143, 150, 163, 0.3));
--ne-button-radius: var(--ne-button-radius, 5px);
--ne-button-font-weight: var(--ne-button-font-weight, 700);
--ne-button-font-size: var(--ne-button-font-size, inherit);
--ne-button-y-padding: var(--ne-button-y-padding, 1em) var(--ne-button-x-padding, 2em);
--ne-button-shadow: var(--ne-button-shadow, 0 1px 2px rgba(0, 0, 0, 0.16));
--ne-checkradio-border: var(--ne-checkradio-border, 1px solid hsl(0, 0%, 89%));
--ne-checkradio-background: var(--ne-checkradio-background, hsl(220, 10%, 95%));
--ne-checkradio-color: var(--ne-checkradio-color, var(--acent-color));
--ne-checkradio-size: var(--ne-checkradio-size, 18px);
--ne-checkradio-border-radius: var(--ne-checkradio-border-radius, 4px);
--ne-checkradio-shadow: var(--ne-checkradio-shadow, 0 1px 1px rgba(0, 0, 0, 0.2));
--ne-code-border: var(--ne-code-border, 1px solid hsl(0, 0%, 89%));
--ne-code-background: var(--ne-code-background, transparent);
--ne-code-foreground: var(--ne-code-foreground, hsl(220, 10%, 50%));
--ne-code-font-size: var(--ne-code-font-size, 0.875rem);
--ne-code-font-family: var(--ne-code-font-family, "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace);
--ne-code-border-radius: var(--ne-code-border-radius, 5px);
--ne-code-y-padding: var(--ne-code-y-padding, 1.25rem) var(--ne-code-x-padding, 1.5rem);
--ne-color-border: var(--ne-color-border, 0);
--ne-color-radius: var(--ne-color-radius, 100%);
--ne-color-shadow: var(--ne-color-shadow, 0 1px 2px rgba(0, 0, 0, 0.16));
--ne-details-separator: var(--ne-details-separator, 1px solid rgba(0, 0, 0, 0.05));
--ne-details-background: var(--ne-details-background, #FFF);
--ne-details-summary-background: var(--ne-details-summary-background, #FFF);
--ne-details-summary-font-size: var(--ne-details-summary-font-size, initial);
--ne-details-summary-font-weight: var(--ne-details-summary-font-weight, 700);
--ne-details-summary-open-color: var(--ne-details-summary-open-color, var(--acent-color));
--ne-details-max-height: var(--ne-details-max-height, 300px);
--ne-details-border-radius: var(--ne-details-border-radius, 4px);
--ne-details-outline-color: var(--ne-details-outline-color, hsl(233, 64%, 85%));
--ne-details-outline-width: var(--ne-details-outline-width, 0.2rem);
--ne-details-summary-padding: var(--ne-details-summary-padding, 16px);
--ne-details-shadow: var(--ne-details-shadow, 0 1px 2px rgba(0, 0, 0, 0.16));
--ne-dialog-border: var(--ne-dialog-border, 0);
--ne-dialog-background: var(--ne-dialog-background, #FFF);
--ne-dialog-radius: var(--ne-dialog-radius, 5px);
--ne-dialog-y-padding: var(--ne-dialog-y-padding, 2rem) var(--ne-dialog-x-padding, 2rem);
--ne-dialog-shadow: var(--ne-dialog-shadow, 0 19px 38px 0 rgba(0, 0, 0, 0.16), 0 15px 12px 0 rgba(0, 0, 0, 0.12));
--ne-dialog-max-width: var(--ne-dialog-max-width, 40rem);
--ne-dialog-backdrop: var(--ne-dialog-backdrop, rgba(0, 0, 0, 0.3));
--ne-dialog-backdrop-filter: var(--ne-dialog-backdrop-filter, blur(10px));
--ne-form-legend-weight: var(--ne-form-legend-weight, 600);
--ne-form-legend-margin: var(--ne-form-legend-margin, 0 0 0.5rem);
--ne-hr-background: var(--ne-hr-background, hsl(0, 0%, 89%));
--ne-hr-weight: var(--ne-hr-weight, 2px);
--ne-hr-margin: var(--ne-hr-margin, 50px);
--ne-meter-border-color: var(--ne-meter-border-color, hsl(0, 0%, 89%));
--ne-meter-background: var(--ne-meter-background, hsl(220, 10%, 95%));
--ne-meter-radius: var(--ne-meter-radius, 5px);
--ne-meter-width: var(--ne-meter-width, 30px);
--ne-meter-height: var(--ne-meter-height, 3px);
--ne-meter-filled-color-strong: var(--ne-meter-filled-color-strong, hsl(67, 78%, 52%));
--ne-meter-filled-color-good: var(--ne-meter-filled-color-good, hsl(41, 100%, 60%));
--ne-meter-filled-color-weak: var(--ne-meter-filled-color-weak, hsl(354, 100%, 65%));
--ne-progress-border-color: var(--ne-progress-border-color, 1px hsl(0, 0%, 89%));
--ne-progress-background: var(--ne-progress-background, hsl(220, 10%, 95%));
--ne-progress-filled-color: var(--ne-progress-filled-color, var(--acent-color));
--ne-progress-stripe-colors: var(--ne-progress-stripe-colors, rgba(255, 255, 255, 0.4));
--ne-progress-height: var(--ne-progress-height, 8px);
--ne-progress-radius: var(--ne-progress-radius, 10px);
--ne-range-border-color: var(--ne-range-border-color, 1px hsl(0, 0%, 89%));
--ne-range-disabled-border-color: var(--ne-range-disabled-border-color, 1px rgba(0, 0, 0, 0));
--ne-range-border-width: var(--ne-range-border-width, 1px);
--ne-range-background: var(--ne-range-background, hsl(220, 10%, 95%));
--ne-range-disabled-background: var(--ne-range-disabled-background, hsl(233, 34%, 96%));
--ne-range-focus-background: var(--ne-range-focus-background, hsl(220, 10%, 95%));
--ne-range-thumb-stripes-color: var(--ne-range-thumb-stripes-color, var(--acent-color));
--ne-range-thumb-stripes-active-color: var(--ne-range-thumb-stripes-active-color, #FFF);
--ne-range-thumb-background: var(--ne-range-thumb-background, #FFF);
--ne-range-thumb-active-background: var(--ne-range-thumb-active-background, var(--acent-color));
--ne-range-thumb-disabled-background: var(--ne-range-thumb-disabled-background, hsl(233, 34%, 96%));
--ne-range-thumb-shadow: var(--ne-range-thumb-shadow, 0 1px 2px 0 rgba(0, 0, 0, 0.16));
--ne-range-thumb-width: var(--ne-range-thumb-width, 28px);
--ne-range-thumb-height: var(--ne-range-thumb-height, 30px);
--ne-range-thumb-radius: var(--ne-range-thumb-radius, 5px);
--ne-range-width: var(--ne-range-width, 100%);
--ne-range-height: var(--ne-range-height, 5px);
--ne-range-radius: var(--ne-range-radius, 10px);
--ne-select-border: var(--ne-select-border, 1px solid hsl(0, 0%, 89%));
--ne-select-hover-border: var(--ne-select-hover-border, 1px solid hsl(0, 0%, 89%));
--ne-select-focus-border: var(--ne-select-focus-border, 1px solid var(--acent-color));
--ne-select-disabled-border: var(--ne-select-disabled-border, 1px solid hsl(233, 34%, 96%));
--ne-select-background: var(--ne-select-background, #FFF);
--ne-select-hover-background: var(--ne-select-hover-background, #FFF);
--ne-select-focus-background: var(--ne-select-focus-background, #FFF);
--ne-select-disabled-background: var(--ne-select-disabled-background, hsl(233, 34%, 96%));
--ne-select-option-checked-background: var(--ne-select-option-checked-background, var(--acent-color));
--ne-select-color: var(--ne-select-color, hsl(0, 0%, 13%));
--ne-select-hover-color: var(--ne-select-hover-color, hsl(0, 0%, 13%));
--ne-select-focus-color: var(--ne-select-focus-color, hsl(0, 0%, 13%));
--ne-select-disabled-color: var(--ne-select-disabled-color, hsl(233, 14%, 72%));
--ne-select-option-checked-color: var(--ne-select-option-checked-color, #FFF);
--ne-select-radius: var(--ne-select-radius, 5px);
--ne-select-width: var(--ne-select-width, 100%);
--ne-select-padding: var(--ne-select-padding, 0.5em);
--ne-select-arrow-icon: var(--ne-select-arrow-icon, url(data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 8l5-5 5 5m0 8l-5 5-5-5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>));
--ne-select-arrow-size: var(--ne-select-arrow-size, 1rem);
--ne-select-shadow: var(--ne-select-shadow, 0 1px 2px rgba(0, 0, 0, 0.06));
--ne-table-background: var(--ne-table-background, transparent);
--ne-textfield-border: var(--ne-textfield-border, 1px solid hsl(0, 0%, 89%));
--ne-textfield-hover-border: var(--ne-textfield-hover-border, 1px solid hsl(0, 0%, 89%));
--ne-textfield-focus-border: var(--ne-textfield-focus-border, 1px solid var(--acent-color));
--ne-textfield-disabled-border: var(--ne-textfield-disabled-border, 1px solid hsl(233, 34%, 96%));
--ne-textfield-readonly-border: var(--ne-textfield-readonly-border, 1px dashed hsl(0, 0%, 89%));
--ne-textfield-readonly-focus-border: var(--ne-textfield-readonly-focus-border, 1px dashed hsl(233, 64%, 62%));
--ne-textfield-invaild-border-color: var(--ne-textfield-invaild-border-color, hsl(354, 100%, 65%));
--ne-textfield-background: var(--ne-textfield-background, #FFF);
--ne-textfield-hover-background: var(--ne-textfield-hover-background, #FFF);
--ne-textfield-focus-background: var(--ne-textfield-focus-background, #FFF);
--ne-textfield-disabled-background: var(--ne-textfield-disabled-background, hsl(233, 34%, 96%));
--ne-textfield-invalid-background: var(--ne-textfield-invalid-background, #FFF);
--ne-textfield-foreground: var(--ne-textfield-foreground, hsl(0, 0%, 13%));
--ne-textfield-hover-color: var(--ne-textfield-hover-color, hsl(0, 0%, 13%));
--ne-textfield-focus-color: var(--ne-textfield-focus-color, hsl(0, 0%, 13%));
--ne-textfield-disabled-color: var(--ne-textfield-disabled-color, hsl(233, 24%, 72%));
--ne-textfield-readonly-color: var(--ne-textfield-readonly-color, hsl(0, 0%, 13%));
--ne-textfield-valid-color: var(--ne-textfield-valid-color, hsl(0, 0%, 13%));
--ne-textfield-placeholder-color: var(--ne-textfield-placeholder-color, hsl(0, 0%, 60%));
--ne-textfield-hover-placeholder-color: var(--ne-textfield-hover-placeholder-color, hsl(0, 0%, 60%));
--ne-textfield-focus-placeholder-color: var(--ne-textfield-focus-placeholder-color, hsl(0, 0%, 60%));
--ne-textfield-disabled-placeholder-color: var(--ne-textfield-disabled-placeholder-color, hsl(233, 34%, 80%));
--ne-textfield-radius: var(--ne-textfield-radius, 5px);
--ne-textfield-width: var(--ne-textfield-width, 100%);
--ne-textfield-min-height: var(--ne-textfield-min-height, 48px);
--ne-textfield-y-padding: var(--ne-textfield-y-padding, 0.5em) var(--ne-textfield-x-padding, 1em);
--ne-textfield-selection-background: var(--ne-textfield-selection-background, hsl(233, 64%, 90%));
--ne-textfield-selection-foreground: var(--ne-textfield-selection-foreground, hsl(0, 0%, 13%));
--ne-textfield-resize: var(--ne-textfield-resize, vertical);
--ne-upload-label-weight: var(--ne-upload-label-weight, 700);
--ne-upload-label-font-size: var(--ne-upload-label-font-size, 1.2rem);
--ne-upload-outline-color: var(--ne-upload-outline-color, hsl(233, 64%, 85%));
--ne-upload-outline-width: var(--ne-upload-outline-width, 0.2rem);
}