:root {
  --accent-color: hsl(220, 100%, 50%);

  --ne-global-background: hsl(0, 0%, 100%);
  --ne-global-foreground: hsl(0, 0%, 0%);
  --ne-body-font-family: sans-serif;
  --ne-root-font-size: 100%;
  --ne-body-font-size: 1.125rem;
  --ne-selection-foreground: hsl(0, 0%, 100%);
  --ne-selection-background: hsl(233, 64%, 72%);
  --ne-outline-width: 2px;
  --ne-outline-color: var(--accent-color);
  --ne-basic-line-height: 1.5;
  --ne-headings-scale: 1.25;
  --ne-quote-font-size: 2rem;
  --ne-cite-foreground: var(--accent-color);
  --ne-cite-font-size: 1rem;
  --ne-cite-start-sign: '—';
  --ne-links-foreground: var(--accent-color);
  --ne-links-active-foreground: hsl(233, 64%, 52%);
  --ne-del-foreground: hsl(337, 74%, 31%);
  --ne-del-background: hsl(0, 100%, 94%);
  --ne-ins-foreground: hsl(161, 98%, 18%);
  --ne-ins-background: hsl(138, 100%, 88%);
  --ne-kbd-color: hsl(233, 34%, 96%);
  --ne-kbd-border-radius: 4px;
  --ne-mark-foreground: hsl(20, 100%, 26%);
  --ne-mark-background: hsl(57, 100%, 60%);
  --ne-inline-code-border-radius: 2px;
  --ne-inline-code-background: hsl(220, 10%, 95%);
  --ne-button-border: 0;
  --ne-button-hover-border: 0;
  --ne-button-active-border: 0;
  --ne-button-disabled-border: 0;
  --ne-button-background: var(--accent-color);
  --ne-button-hover-background: hsl(233, 64%, 52%);
  --ne-button-active-background: hsl(233, 64%, 32%);
  --ne-button-disabled-background: hsl(233, 34%, 96%);
  --ne-button-foreground: hsl(0, 0%, 100%);
  --ne-button-hover-foreground: hsl(0, 0%, 100%);
  --ne-button-active-foreground: hsl(0, 0%, 100%);
  --ne-button-disabled-foreground: hsl(233, 24%, 72%);
  --ne-button-icon-size: 1em;
  --ne-button-icon-margin: 1em;
  --ne-button-border-radius: 5px;
  --ne-button-font-size: inherit;
  --ne-button-y-padding: 1em;
  --ne-button-x-padding: 2em;
  --ne-button-line-height: 1;
  --ne-checkradio-border: 1px solid hsl(0, 0%, 89%);
  --ne-checkradio-background: hsl(220, 10%, 95%);
  --ne-checkradio-color: var(--accent-color);
  --ne-checkradio-tick-color: var(--ne-global-background, hsl(0, 0%, 100%));
  --ne-checkradio-size: 18px;
  --ne-checkradio-border-radius: 4px;
  --ne-checkradio-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  --ne-code-border: 1px solid hsl(0, 0%, 89%);
  --ne-code-background: transparent;
  --ne-code-foreground: hsl(220, 10%, 50%);
  --ne-code-font-size: 0.875rem;
  --ne-code-font-family: 'SF Mono', Monaco, Inconsolata, 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
  --ne-code-border-radius: 5px;
  --ne-code-y-padding: 1.25rem;
  --ne-code-x-padding: 1.5rem;
  --ne-color-border: 0;
  --ne-color-border-radius: 100%;
  --ne-color-width: 24px;
  --ne-color-height: 24px;
  --ne-details-separator: 1px solid rgba(0, 0, 0, 0.05);
  --ne-details-background: hsl(0, 0%, 100%);
  --ne-details-summary-background: hsl(0, 0%, 100%);
  --ne-details-summary-font-size: initial;
  --ne-details-summary-open-color: var(--accent-color);
  --ne-details-max-height: 300px;
  --ne-details-icon: url'"data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z" fill="currentColor"/></svg>');
  --ne-details-icon-size: 0.75rem;
  --ne-details-border-radius: 4px;
  --ne-details-summary-padding: 16px;
  --ne-details-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  --ne-dialog-border: 0;
  --ne-dialog-background: hsl(0, 0%, 100%);
  --ne-dialog-border-radius: 5px;
  --ne-dialog-y-padding: 2rem;
  --ne-dialog-x-padding: 2rem;
  --ne-dialog-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.16);
  --ne-dialog-max-width: 40rem;
  --ne-dialog-backdrop-color: rgba(0, 0, 0, 0.3);
  --ne-hr-background: hsl(0, 0%, 89%);
  --ne-hr-height: 2px;
  --ne-hr-y-margin: 50px;
  --ne-meter-border-color: hsl(0, 0%, 89%);
  --ne-meter-background: hsl(220, 10%, 95%);
  --ne-meter-border-radius: 5px;
  --ne-meter-height: 6px;
  --ne-meter-strong-color: hsl(67, 78%, 52%);
  --ne-meter-strong-color: hsl(67, 78%, 52%);
  --ne-meter-good-color: hsl(41, 100%, 60%);
  --ne-meter-weak-color: hsl(354, 100%, 65%);
  --ne-progress-shadow: inset 0 0 0 1px hsl(0, 0%, 89%);
  --ne-progress-background: hsl(233, 34%, 96%);
  --ne-progress-filled-color: var(--accent-color);
  --ne-progress-height: 8px;
  --ne-progress-border-radius: 10px;
  --ne-range-shadow: inset 0 0 0 1px hsl(0, 0%, 89%);
  --ne-range-disabled-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1);
  --ne-range-border-width: 1px;
  --ne-range-background: hsl(220, 10%, 95%);
  --ne-range-disabled-background: hsl(233, 34%, 96%);
  --ne-range-focus-background: hsl(220, 10%, 95%);
  --ne-range-thumb-stripes-color: hsl(0, 0%, 100%);
  --ne-range-thumb-stripes-active-color: hsl(0, 0%, 100%);
  --ne-range-thumb-background: var(--accent-color);
  --ne-range-thumb-active-background: var(--accent-color);
  --ne-range-thumb-disabled-background: hsl(233, 34%, 96%);
  --ne-range-thumb-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.16);
  --ne-range-thumb-width: 28px;
  --ne-range-thumb-height: 30px;
  --ne-range-thumb-radius: 5px;
  --ne-range-width: 100%;
  --ne-range-height: 5px;
  --ne-range-border-radius: 10px;
  --ne-select-border: 1px solid hsl(0, 0%, 89%);
  --ne-select-hover-border: 1px solid hsl(0, 0%, 89%);
  --ne-select-focus-border: 1px solid var(--accent-color);
  --ne-select-disabled-border: 1px solid hsl(233, 34%, 96%);
  --ne-select-background: hsl(0, 0%, 100%);
  --ne-select-hover-background: hsl(0, 0%, 100%);
  --ne-select-focus-background: hsl(0, 0%, 100%);
  --ne-select-disabled-background: hsl(233, 34%, 96%);
  --ne-select-option-checked-background: var(--accent-color);
  --ne-select-foreground: hsl(0, 0%, 13%);
  --ne-select-hover-foreground: inherit;
  --ne-select-focus-foreground: inherit;
  --ne-select-disabled-foreground: hsl(233, 14%, 72%);
  --ne-select-option-checked-foreground: hsl(0, 0%, 100%);
  --ne-select-border-radius: 5px;
  --ne-select-width: 100%;
  --ne-select-padding: 0.5em;
  --ne-select-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 8l5-5 5 5m0 8l-5 5-5-5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>');
  --ne-select-icon-size: 1rem;
  --ne-select-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  --ne-table-background: transparent;
  --ne-table-head-separator: 2px solid hsl(0, 0%, 89%);
  --ne-table-row-separator: 1px solid hsl(0, 0%, 89%);
  --ne-table-striped-background: transparent;
  --ne-table-cells-y-padding: 16px;
  --ne-table-cells-x-padding: 16px;
  --ne-textfield-border: 1px solid hsl(0, 0%, 89%);
  --ne-textfield-hover-border: 1px solid hsl(0, 0%, 89%);
  --ne-textfield-focus-border: 1px solid hsl(0, 0%, 89%);
  --ne-textfield-disabled-border: 1px solid hsl(233, 34%, 96%);
  --ne-textfield-readonly-border: 1px dashed hsl(0, 0%, 89%);
  --ne-textfield-readonly-focus-border: 1px dashed var(--accent-color);
  --ne-textfield-invalid-border-color: hsl(354, 100%, 65%);
  --ne-textfield-background: hsl(0, 0%, 100%);
  --ne-textfield-hover-background: hsl(0, 0%, 100%);
  --ne-textfield-focus-background: hsl(0, 0%, 100%);
  --ne-textfield-disabled-background: hsl(233, 34%, 96%);
  --ne-textfield-invalid-background: hsl(0, 0%, 100%);
  --ne-textfield-foreground: inherit;
  --ne-textfield-hover-foreground: inherit;
  --ne-textfield-focus-foreground: inherit;
  --ne-textfield-disabled-foreground: hsl(233, 24%, 72%);
  --ne-textfield-readonly-foreground: inherit;
  --ne-textfield-invalid-foreground: inherit;
  --ne-textfield-placeholder-foreground: hsl(0, 0%, 60%);
  --ne-textfield-hover-placeholder-foreground: hsl(0, 0%, 60%);
  --ne-textfield-focus-placeholder-foreground: hsl(0, 0%, 60%);
  --ne-textfield-disabled-placeholder-foreground: hsl(233, 34%, 80%);
  --ne-textfield-border-radius: 5px;
  --ne-textfield-width: 100%;
  --ne-textfield-min-height: 48px;
  --ne-textfield-y-padding: 0.5em;
  --ne-textfield-x-padding: 1em;
  --ne-textfield-selection-background: hsl(233, 64%, 90%);
  --ne-textfield-selection-foreground: hsl(0, 0%, 13%);
  --ne-textfield-resize-direction: vertical;
  --ne-textfield-font-weight: 700;
  --ne-upload-label-weight: 700;
  --ne-upload-label-font-size: 1.2rem;
}