:root {
--ne-global-background:  #FFF;
--ne-global-foreground:  #000;
--ne-root-font-size:  100%;
--ne-body-font-size:  1.125rem;
--ne-selection-foreground:  #FFF;
--ne-selection-background:  hsl(233, 64%, 72%);
--ne-outline-style:  2px solid;
--ne-outline-color:  hsl(235, 100%, 60%);
--ne-scroll-padding:  100px;
--ne-scroll-behavior:  smooth;
--ne-line-height:  1.5;
--ne-headings-scale:  1.25;
--ne-quote-font-size:  2rem;
--ne-cite-foreground:  hsl(235, 100%, 60%);
--ne-cite-font-size:  1rem;
--ne-cite-start-sign:  "—";
--ne-links-color:  hsl(235, 100%, 60%);
--ne-links-active-color:  hsl(233, 64%, 52%);
--ne-del-foreground:  hsl(337, 74%, 31%);
--ne-del-background:  hsl(0, 100%, 94%);
--ne-ins-foreground:  hsl(161, 98%, 18%);
--ne-ins-background:  hsl(138, 100%, 88%);
--ne-kbd-color:  hsl(233, 34%, 96%);
--ne-kbd-border-radius:  4px;
--ne-mark-foreground:  hsl(20, 100%, 26%);
--ne-mark-background:  hsl(57, 100%, 60%);
--ne-inline-code-border-radius:  2px;
--ne-inline-code-background:  hsl(220, 10%, 95%);
--ne-button-border:  0;
--ne-button-hover-border:  0;
--ne-button-active-border:  0;
--ne-button-disabled-border:  0;
--ne-button-background:  hsl(235, 100%, 60%);
--ne-button-hover-background:  hsl(233, 64%, 52%);
--ne-button-active-background:  hsl(233, 64%, 32%);
--ne-button-disabled-background:  hsl(233, 34%, 96%);
--ne-button-foreground:  #FFF;
--ne-button-hover-foreground:  #FFF;
--ne-button-active-foreground:  #FFF;
--ne-button-disabled-foreground:  hsl(233, 24%, 72%);
--ne-button-icon-margin:  calc(2rem / 2.2);
--ne-button-disabled-icon-separator:  rgba(143, 150, 163, 0.3);
--ne-button-radius:  5px;
--ne-button-font-weight:  700;
--ne-button-font-size:  inherit;
--ne-button-y-padding:  1em) var(--ne-button-x-padding, 2em;
--ne-button-shadow:  0 1px 2px rgba(0, 0, 0, 0.16);
--ne-checkradio-border:  1px solid hsl(0, 0%, 89%);
--ne-checkradio-background:  hsl(220, 10%, 95%);
--ne-checkradio-color:  hsl(235, 100%, 60%);
--ne-checkradio-size:  18px;
--ne-checkradio-border-radius:  4px;
--ne-checkradio-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
--ne-code-border:  1px solid hsl(0, 0%, 89%);
--ne-code-background:  transparent;
--ne-code-foreground:  hsl(220, 10%, 50%);
--ne-code-font-size:  0.875rem;
--ne-code-font-family:  "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
--ne-code-border-radius:  5px;
--ne-code-y-padding:  1.25rem) var(--ne-code-x-padding, 1.5rem;
--ne-color-border:  0;
--ne-color-radius:  100%;
--ne-color-shadow:  0 1px 2px rgba(0, 0, 0, 0.16);
--ne-details-separator:  1px solid rgba(0, 0, 0, 0.05);
--ne-details-background:  #FFF;
--ne-details-summary-background:  #FFF;
--ne-details-summary-font-size:  initial;
--ne-details-summary-font-weight:  700;
--ne-details-summary-open-color:  hsl(235, 100%, 60%);
--ne-details-max-height:  300px;
--ne-details-border-radius:  4px;
--ne-details-outline-color:  hsl(233, 64%, 85%);
--ne-details-outline-width:  0.2rem;
--ne-details-summary-padding:  16px;
--ne-details-shadow:  0 1px 2px rgba(0, 0, 0, 0.16);
--ne-dialog-border:  0;
--ne-dialog-background:  #FFF;
--ne-dialog-radius:  5px;
--ne-dialog-y-padding:  2rem) var(--ne-dialog-x-padding, 2rem;
--ne-dialog-shadow:  0 19px 38px 0 rgba(0, 0, 0, 0.16), 0 15px 12px 0 rgba(0, 0, 0, 0.12);
--ne-dialog-max-width:  40rem;
--ne-dialog-backdrop:  rgba(0, 0, 0, 0.3);
--ne-dialog-backdrop-filter:  blur(10px);
--ne-form-legend-weight:  600;
--ne-form-legend-margin:  0 0 0.5rem;
--ne-hr-background:  hsl(0, 0%, 89%);
--ne-hr-weight:  2px;
--ne-hr-margin:  50px;
--ne-meter-border-color:  hsl(0, 0%, 89%);
--ne-meter-background:  hsl(220, 10%, 95%);
--ne-meter-radius:  5px;
--ne-meter-width:  30px;
--ne-meter-height:  3px;
--ne-meter-filled-color-strong:  hsl(67, 78%, 52%);
--ne-meter-filled-color-good:  hsl(41, 100%, 60%);
--ne-meter-filled-color-weak:  hsl(354, 100%, 65%);
--ne-progress-border-color:  1px hsl(0, 0%, 89%);
--ne-progress-background:  hsl(220, 10%, 95%);
--ne-progress-filled-color:  hsl(235, 100%, 60%);
--ne-progress-stripe-colors:  rgba(255, 255, 255, 0.4);
--ne-progress-height:  8px;
--ne-progress-radius:  10px;
--ne-range-border-color:  1px hsl(0, 0%, 89%);
--ne-range-disabled-border-color:  1px rgba(0, 0, 0, 0);
--ne-range-border-width:  1px;
--ne-range-background:  hsl(220, 10%, 95%);
--ne-range-disabled-background:  hsl(233, 34%, 96%);
--ne-range-focus-background:  hsl(220, 10%, 95%);
--ne-range-thumb-stripes-color:  hsl(235, 100%, 60%);
--ne-range-thumb-stripes-active-color:  #FFF;
--ne-range-thumb-background:  #FFF;
--ne-range-thumb-active-background:  hsl(235, 100%, 60%);
--ne-range-thumb-disabled-background:  hsl(233, 34%, 96%);
--ne-range-thumb-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.16);
--ne-range-thumb-width:  28px;
--ne-range-thumb-height:  30px;
--ne-range-thumb-radius:  5px;
--ne-range-width:  100%;
--ne-range-height:  5px;
--ne-range-radius:  10px;
--ne-select-border:  1px solid hsl(0, 0%, 89%);
--ne-select-hover-border:  1px solid hsl(0, 0%, 89%);
--ne-select-focus-border:  1px solid hsl(235, 100%, 60%);
--ne-select-disabled-border:  1px solid hsl(233, 34%, 96%);
--ne-select-background:  #FFF;
--ne-select-hover-background:  #FFF;
--ne-select-focus-background:  #FFF;
--ne-select-disabled-background:  hsl(233, 34%, 96%);
--ne-select-option-checked-background:  hsl(235, 100%, 60%);
--ne-select-color:  hsl(0, 0%, 13%);
--ne-select-hover-color:  hsl(0, 0%, 13%);
--ne-select-focus-color:  hsl(0, 0%, 13%);
--ne-select-disabled-color:  hsl(233, 14%, 72%);
--ne-select-option-checked-color:  #FFF;
--ne-select-radius:  5px;
--ne-select-width:  100%;
--ne-select-padding:  0.5em;
--ne-select-arrow-icon:  url(data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 8l5-5 5 5m0 8l-5 5-5-5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"/></svg>);
--ne-select-arrow-size:  1rem;
--ne-select-shadow:  0 1px 2px rgba(0, 0, 0, 0.06);
--ne-table-background:  transparent;
--ne-textfield-border:  1px solid hsl(0, 0%, 89%);
--ne-textfield-hover-border:  1px solid hsl(0, 0%, 89%);
--ne-textfield-focus-border:  1px solid hsl(235, 100%, 60%);
--ne-textfield-disabled-border:  1px solid hsl(233, 34%, 96%);
--ne-textfield-readonly-border:  1px dashed hsl(0, 0%, 89%);
--ne-textfield-readonly-focus-border:  1px dashed hsl(233, 64%, 62%);
--ne-textfield-invaild-border-color:  hsl(354, 100%, 65%);
--ne-textfield-background:  #FFF;
--ne-textfield-hover-background:  #FFF;
--ne-textfield-focus-background:  #FFF;
--ne-textfield-disabled-background:  hsl(233, 34%, 96%);
--ne-textfield-invalid-background:  #FFF;
--ne-textfield-foreground:  hsl(0, 0%, 13%);
--ne-textfield-hover-color:  hsl(0, 0%, 13%);
--ne-textfield-focus-color:  hsl(0, 0%, 13%);
--ne-textfield-disabled-color:  hsl(233, 24%, 72%);
--ne-textfield-readonly-color:  hsl(0, 0%, 13%);
--ne-textfield-valid-color:  hsl(0, 0%, 13%);
--ne-textfield-placeholder-color:  hsl(0, 0%, 60%);
--ne-textfield-hover-placeholder-color:  hsl(0, 0%, 60%);
--ne-textfield-focus-placeholder-color:  hsl(0, 0%, 60%);
--ne-textfield-disabled-placeholder-color:  hsl(233, 34%, 80%);
--ne-textfield-radius:  5px;
--ne-textfield-width:  100%;
--ne-textfield-min-height:  48px;
--ne-textfield-y-padding:  0.5em) var(--ne-textfield-x-padding, 1em;
--ne-textfield-selection-background:  hsl(233, 64%, 90%);
--ne-textfield-selection-foreground:  hsl(0, 0%, 13%);
--ne-textfield-resize:  vertical;
--ne-upload-label-weight:  700;
--ne-upload-label-font-size:  1.2rem;
--ne-upload-outline-color:  hsl(233, 64%, 85%);
--ne-upload-outline-width:  0.2rem;
}