@define-mixin typo-config {
  /* Misc API */
  --quoteFontSize: var(--ne-quote-font-size, 2rem);
  --quoteFontWeight: var(--ne-quote-font-weight, 100);
  --citeForeground: var(--ne-cite-foreground, hsl(235, 100%, 60%));
  --citeFontSize: var(--ne-cite-font-size, 1rem);
}
