@define-mixin typo-config {
  /* Misc API */
  --basicLineHeight: var(--ne-typo-line-height, 1.8);
  --headingsScale: var(--ne-typo-headings-scale, 1.25);
  --quoteFontSize: var(--ne-quote-font-size, 2rem);
  --quoteFontWeight: var(--ne-quote-font-weight, 100);
  --citeFontSize: var(--ne-cite-font-size, 1rem);
  --selectionForeground: var(--ne-typo-selection-foreground, #FFF);
  --selectionBackground: var(--ne-typo-selection-background, hsl(233, 64%, 72%));
}
