@define-mixin typo-config {
  /* Misc API */
  --pMaxSize: var(--ne-typo-p-max-size, 1.5rem);
  --selectionForeground: var(--ne-typo-selection-foreground, #FFF);
  --selectionBackground: var(--ne-typo-selection-background, hsl(233, 64%, 72%));
}
