@define-mixin meter-progress {
  background: env(--meterBackground);
  box-shadow: inset 0 0 0 1px env(--meterBorderColor);
  border-radius: env(--meterBorderRadius);
  overflow: hidden;
}

@define-mixin meter-strong {
  background: env(--meterStrongColor);
}

@define-mixin meter-good {
  background: env(--meterGoodColor);
}

@define-mixin meter-weak {
  background: env(--meterWeakColor);
}
