table {
  width: 100%;
  border-collapse: collapse;
  background-color: env(--tableBackground);
}

thead {
  border-bottom: env(--tableHeadSeparator);
  text-align: left;
}

td,
th {
  padding: env(--tableCellsYPadding) env(--tableCellsXPadding);
}

tr + tr {
  border-top: env(--tableRowSeparator);
}

tr:not(thead > tr):nth-child(odd) {
  background-color: env(--tableStribedBackground);
}
