table {
  width: 100%;
  border-collapse: collapse;
  background-color: env(--tableBackground);
}

thead {
  text-align: left;
  border-bottom: 2px solid blue;
}

th {
  font-weight: 400;
}

td,
th {
  padding: 8px 16px;
}

tr + tr {
  border-top: 1px solid red;
}
