@define-mixin core-config {
  --rootFontSize: var(--ne-root-font-size, 100%);
  --basicLineHeight: var(--ne-line-height, 1.5);
  --headingsScale: var(--ne-headings-scale, 1.25);
  --selectionForeground: var(--ne-selection-foreground, #FFF);
  --selectionBackground: var(--ne-selection-background, hsl(233, 64%, 72%));
}
