fieldset {
  min-width: 0;
  margin: 0 0 1rem;
  padding: 0;
  border: 0 solid transparent;
}


label {
  display: block;
  margin: 0 0 0.25rem;
  padding: 0;
}


legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: env(--formLegendMargin);
  padding: 0;
  font-weight: env(--formLegendWeight);
  line-height: inherit;
  white-space: normal;
  color: inherit;
}

output {
  display: inline-block;
}
