@custom-selector :--icons i, svg;

button {
  @mixin button;

  & :--icons {
    color: inherit;
    fill: currentColor;
    font-style: normal;
    margin-inline-end: env(--buttonIconMargin);
    width: 1em;
    height: 1em;
  }
}
