body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  overflow: auto;
  margin: 0;
  min-height: 100vh;
}

section + section {
  margin-top: 100px;
}

main {
  margin: 100px auto;
  max-width: 600px;
  min-width: 300px;
  padding: 0 30px;
  box-sizing: border-box;
}


.SecondButton {
  --ne-button-radius: 3px;
  --ne-button-y-padding: 0.8em;
  --ne-button-x-padding: 1.4em;
}

.ThirdButton {
  --ne-button-radius: 100px;
  --ne-button-y-padding: 0.5em;
  --ne-button-x-padding: 1.5em;
}

.MutedButton {
  --ne-button-background: transparent;
  --ne-button-hover-background: transparent;
  --ne-button-active-background: transparent;
  --ne-button-shadow: none;
  --ne-button-foreground: #000;
  --ne-button-hover-foreground: #000;
  --ne-button-active-foreground: #000;
}

.FullRound {
  --ne-button-radius: 100px;
}

details p {
  padding: 0 32px;
}

[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] *:focus {
  outline: none;
}


.Herobanner {
  background-color: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 32px;
}

.Herobanner h1 {
  margin-bottom: 24px;
  line-height: 1;
}

.ThemeSwitcher {
  width: auto;
  margin: 50px 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: hsl(152, 100%, 51%);
    --secondary-color: hsl(0, 0%, 7%);
    --muted-color: hsl(0, 0%, 15%);
    --ne-global-background: var(--secondary-color);
    --ne-global-foreground: #FFF;
    --ne-outline-color: var(--accent-color);
    --ne-cite-foreground: var(--accent-color);
    --ne-cite-font-size: 1rem;
    --ne-links-foreground: var(--accent-color);
    --ne-links-active-foreground: var(--accent-color);
    --ne-del-foreground: hsl(337, 74%, 80%);
    --ne-del-background: hsl(0, 100%, 20%);
    --ne-ins-foreground: hsl(161, 98%, 70%);
    --ne-ins-background: hsl(138, 100%, 20%);
    --ne-kbd-color: hsl(233, 4%, 30%);
    --ne-inline-code-background: var(--muted-color);
    --ne-button-background: var(--accent-color);
    --ne-button-foreground: var(--ne-global-background);
    --ne-button-hover-background: var(--ne-global-foreground);
    --ne-button-hover-foreground: var(--ne-global-background);
    --ne-button-disabled-foreground: hsl(0, 0%, 16.9%);
    --ne-button-disabled-background: hsl(220, 5.9%, 10%);
    --ne-checkradio-border: 1px solid hsl(233, 4%, 25%);
    --ne-checkradio-background: var(--muted-color);
    --ne-checkradio-color: var(--accent-color);
    --ne-code-border: 1px solid hsl(233, 4%, 15%);
    --ne-code-background: hsl(233, 4%, 10%);
    --ne-code-foreground: hsl(233, 4%, 70%);
    --ne-details-separator: 1px solid hsl(233, 4%, 25%);
    --ne-details-background: var(--muted-color);
    --ne-details-summary-background: var(--muted-color);
    --ne-details-summary-open-color: var(--accent-color);
    --ne-details-outline-color: hsl(233, 64%, 85%);
    --ne-details-summary-padding: 16px;
    --ne-dialog-background: #FFF;
    --ne-hr-background: var(--muted-color);
    --ne-meter-border-color: transparent;
    --ne-meter-background: hsl(233, 4%, 25%);
    --ne-meter-filled-color-strong: hsl(67, 78%, 52%);
    --ne-meter-filled-color-good: hsl(41, 100%, 60%);
    --ne-meter-filled-color-weak: hsl(354, 100%, 65%);
    --ne-progress-border: 1px hsl(233, 4%, 25%);
    --ne-progress-background: var(--muted-color);
    --ne-progress-filled-color: var(--accent-color);
    --ne-range-border-color: 1px hsl(233, 4%, 15%);
    --ne-range-background: var(--muted-color);
    --ne-range-disabled-background: var(--muted-color);
    --ne-range-thumb-stripes-color: var(--accent-color);
    --ne-range-thumb-active-background: var(--accent-color);
    --ne-range-thumb-disabled-background: hsl(233, 4%, 25%);
    --ne-select-border: 1px solid hsl(233, 4%, 25%);
    --ne-select-disabled-border: var(--muted-color);
    --ne-select-background: var(--muted-color);
    --ne-select-disabled-background: hsl(233, 4%, 30%);
    --ne-select-option-checked-background: var(--accent-color);
    --ne-select-color: var(--ne-global-foreground);
    --ne-select-disabled-color: hsl(233, 4%, 45%);
    --ne-button-disabled-foreground: hsl(233, 4%, 45%);
    --ne-button-disabled-background: hsl(233, 4%, 30%);
    --ne-textfield-border: 1px solid hsl(233, 4%, 25%);
    --ne-textfield-disabled-border: 1px solid hsl(233, 4%, 30%);
    --ne-textfield-readonly-border: 1px dashed hsl(233, 4%, 25%);
    --ne-textfield-readonly-focus-border: 1px dashed hsl(233, 64%, 62%);
    --ne-textfield-invaild-border-color: hsl(354, 100%, 65%);
    --ne-textfield-background: var(--muted-color);
    --ne-textfield-disabled-background: hsl(233, 4%, 30%);
    --ne-textfield-invalid-background: var(--muted-color);
    --ne-textfield-foreground: var(--ne-global-foreground);
    --ne-textfield-disabled-foreground: hsl(233, 4%, 45%);
    --ne-textfield-placeholder-foreground: hsl(0, 0%, 30%);
    --ne-textfield-hover-placeholder-foreground: hsl(0, 0%, 60%);
    --ne-textfield-focus-placeholder-foreground: hsl(0, 0%, 60%);
    --ne-textfield-disabled-placeholder-foreground: hsl(233, 34%, 80%);
    --ne-textfield-selection-background: hsl(233, 64%, 90%);
    --ne-textfield-selection-foreground: hsl(0, 0%, 13%);
    --ne-table-head-separator: 2px solid hsl(233, 4%, 25%);
    --ne-table-row-separator: 1px solid hsl(0, 0%, 0%);
  }
}
