input[type='file'] {
  font-size: inherit;
  width: 100%;
  overflow: hidden;

  &::-webkit-file-upload-button {
    @mixin button;

    margin-right: 16px;
  }

  &::-webkit-file-upload-button + span {
    color: red;
  }
}
